<div class="container-fluid pt-2 d-flex " style="background: #EDEDED;">
    <div class="p-2 m-2 mr-auto">abc123@hmail.com  (444)-999-888</div>
    <div class="p-2 m-2">Wish List </div>
    <div class="p-2 m-2"><li>About us</li></div>
    <div class="p-2 m-2"><li>Contact us</li></div>
</div>

<div class="card border-bottom-0 shadow-lg">
<div class="d-flex flex-row p-2 justify-content-center">
    <div class="p-2 mr-5"><a href="/">Home</a></div>
    <div class="p-2  mr-5"><a href="/products/">Products</a></div>
    <div class="p-2  mr-5"><a href="/services/">Services</a></div>
    <div class="p-2  mr-5"><a href="/shop/">Shop</a></div>
    <div class="p-2  mr-5"><a href="/contact_us/">Contact Us</a></div>
</div>  
</div>
